@{
    ViewBag.Title = "Home Page";
}


    <form method="post" action="">
        <table>
            <tr>
                <td><p>Input url </p></td>
                <td><input type="text" name="url" /> </td>
            </tr>
            <tr><td><input type="submit" value="go" /> </td><td></td></tr>
        </table>
