@model IEnumerable<WebApplication1.Models.GoodsReviewViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<form method="post" action="">
    <table>
        <tr>
            <td><p>Input word </p></td>
            <td><input type="text" name="word" /> </td>
        </tr>
        <tr><td><input type="submit" value="go" /> </td><td></td></tr>
    </table>
 
