@model IEnumerable<WebApplication1.Models.GoodsReviewViewModel>

@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewIdWalmar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewIdWalmar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>

    </tr>
}

</table>
